In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [6]:
tuple([4,0,2])

(4, 0, 2)

In [7]:
tup = tuple('string')

In [8]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
tup[0]

's'

In [12]:
tup = tuple(['foo', [1,2,3], True])

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup[1].append(3)

In [20]:
tup

('foo', [1, 2, 3, 3], True)

In [21]:
(4, None, 'foo') + (6,0)

(4, None, 'foo', 6, 0)

In [24]:
(4, None, 'foo') + (6,0) + ('bar')

TypeError: can only concatenate tuple (not "str") to tuple

In [23]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [33]:
a = ('bar',)

In [34]:
type(a)

tuple

In [35]:
tup = (4,5,6)

In [36]:
a,b,c = tup

In [37]:
b

5

In [38]:
tup = 4,5,(6,7)

In [39]:
a,b, (c,d) = tup

In [40]:
d

7

In [41]:
seq = [(1,2,3), (4,5,6), (7,8,9)]

In [49]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [50]:
values = 1,2,3,4,5

In [54]:
a, b, *_ = values

In [55]:
a,b

(1, 2)

In [56]:
values = 1,2,3,4,5, 1, 1

In [58]:
values.count(1)

3

In [59]:
a_list = [2,3,7,None]

In [61]:
tup = ('foo', 'bar', 'baz')

In [63]:
b_list = list(tup)

In [64]:
b_list

['foo', 'bar', 'baz']

In [66]:
b_list[1] = 'min'

In [67]:
b_list

['foo', 'min', 'baz']

In [68]:
b_list.append('asdf')

In [69]:
b_list

['foo', 'min', 'baz', 'asdf']

In [70]:
b_list.insert(1,'aerhreqt')

In [71]:
b_list

['foo', 'aerhreqt', 'min', 'baz', 'asdf']

In [72]:
b_list.pop(1)

'aerhreqt'

In [81]:
b_list.append('foo')

In [82]:
b_list.remove('foo')

In [83]:
b_list

['min', 'baz', 'asdf']

In [84]:
'min' in b_list

True

In [85]:
'min' not in b_list

False

In [86]:
b_list.extend([7,8])

In [87]:
b_list

['min', 'baz', 'asdf', 7, 8]

In [93]:
a = [4,6,2,8,4,6,8]

In [97]:
a.sort()
a

[2, 4, 4, 6, 6, 8, 8]

In [98]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [101]:
b.sort(key=len, reverse=True)
b

['small', 'foxes', 'saw', 'six', 'He']

In [104]:
import bisect
c= [1,2,2,2,3,4,7]
bisect.bisect(c,4)

6

In [108]:
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 5))

3

In [109]:
seq = [7,2,3,7,5,6,0,1]

In [110]:
seq[1:5]

[2, 3, 7, 5]

In [114]:
some_list = ['foo', 'bar', 'baz']

In [115]:
mapping = {}

In [116]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [117]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [118]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [119]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [120]:
seq1 = ['foo', 'bar', 'baz']

In [121]:
seq2 = ['one', 'two', 'three']

In [122]:
zipped = zip(seq1, seq2)

In [125]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [128]:
seq3 =[False, True]

In [129]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [134]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [135]:
empty_dict = {}

In [136]:
d1 = {'a':'some_value', 'b':'[1,2,3,4]'}

In [137]:
d1

{'a': 'some_value', 'b': '[1,2,3,4]'}

In [139]:
d1[7] = 'an integer'

In [140]:
d1

{'a': 'some_value', 'b': '[1,2,3,4]', 7: 'an integer'}

In [141]:
d1['b']

'[1,2,3,4]'

In [142]:
del d1[7]

In [143]:
d1

{'a': 'some_value', 'b': '[1,2,3,4]'}

In [144]:
'b' in d1

True

In [145]:
ret = d1.pop('a')

In [146]:
d1

{'b': '[1,2,3,4]'}

In [147]:
ret

'some_value'

In [149]:
list(d1.keys())

['b']

In [150]:
list(d1.values())

['[1,2,3,4]']

In [151]:
d1[7] = 'an integer'

In [152]:
list(d1.values())

['[1,2,3,4]', 'an integer']

In [153]:
d1.update({'b' : 'foo', 'c':'adf'})

In [154]:
d1

{'b': 'foo', 7: 'an integer', 'c': 'adf'}

In [155]:
mapping = dict(zip(range(5), reversed(range(5))))

In [156]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [159]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [165]:
words[0]

'apple'

In [160]:
by_letter = {}

In [167]:
for word in words:
    print(word)
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

apple
bat
bar
atom
book

In [168]:
by_letter

{'a': ['apple', 'apple', 'atom', 'apple', 'atom', 'apple', 'atom'],
 'b': ['bat',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book']}

In [169]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [170]:
by_letter

{'a': ['apple',
  'apple',
  'atom',
  'apple',
  'atom',
  'apple',
  'atom',
  'apple',
  'atom'],
 'b': ['bat',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book']}

In [174]:
from collections import defaultdict

In [175]:
by_letter = defaultdict(list)

In [176]:
for word in words:
    by_letter[word[0]].append(word)

In [177]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [179]:
hash('string')

5726267289030451828

In [180]:
hash((1,2))

3713081631934410656

In [182]:
set([1,2,4,4,4,4,3,3,2,2])

{1, 2, 3, 4}

In [183]:
b = {3,4,5,5,5,5,5,3,}

In [184]:
b

{3, 4, 5}

In [186]:
a = {3,4,6,6,2,9,7}

In [187]:
a.union(b)

{2, 3, 4, 5, 6, 7, 9}

In [188]:
a.intersection(b)

{3, 4}

In [189]:
a & b

{3, 4}

In [190]:
a | b

{2, 3, 4, 5, 6, 7, 9}

In [191]:
my_data = [1,2,3,4]

In [194]:
my_set = {tuple(my_data)}

In [195]:
my_set

{(1, 2, 3, 4)}

In [196]:
strings = ['a', 'as', 'bat', 'car', 'dpve', 'python']

In [197]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DPVE', 'PYTHON']

In [198]:
unique_lengths = {len(x) for x in strings}

In [199]:
unique_lengths

{1, 2, 3, 4, 6}

In [207]:
all_data = [['John', 'Emily', 'Michael'],
            ['Maria', 'Juan', 'Javier']
           ]

In [208]:
[name for name in all_data[0] if name.count('e') >= 1]

['Michael']

In [213]:
result = [name for names in all_data for name in names if name.count('e') >= 1]
result

['Michael', 'Javier']

In [3]:
def my_function(x ,y ,z=1.5):
    if z > 1:
        return z * (x+y)
    else:
        return z / (x+y)

In [4]:
my_function(5,6,z=0.7)

0.06363636363636363

In [5]:
my_function(5,6)

16.5

In [7]:
my_function(x=7, y=8, z=15)

225

In [ ]:
a = []

In [8]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [9]:
a

NameError: name 'a' is not defined

In [11]:
def func():
    global a 
    a = []
    for i in range(5):
        a.append(i)

In [13]:
func()

In [14]:
a

[0, 1, 2, 3, 4]

In [15]:
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

In [17]:
a,b,c = f()

In [19]:
a,b,c

(5, 6, 7)

In [20]:
states = ['Alabama', 'Georgia!', 'georgia', 'lorlda', 'south##', 'wist??']

In [21]:
import re

In [22]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [23]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
georgia
lorlda
south
wist

In [24]:
def short_function(x):
    return x * 2

In [25]:
equiv_anon = lambda x : x * 2

In [41]:
equiv_anon(8)

16

In [26]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [27]:
strings.sort(key=lambda x: len(set(list(x))))

In [28]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [35]:
def add_number(x, y):
    return x + y

In [36]:
add_five = lambda y: add_number(5,y)

In [38]:
add_five(10)

15

In [51]:
from functools import partial
add_five = partial(add_numbers,5)

In [52]:
add_five(10)

15

In [53]:
def test_generator():
    yield 1
    yield 2
    yield 3

In [54]:
gen = test_generator()

In [55]:
type(gen)

generator

In [56]:
next(gen)

1

In [57]:
next(gen)

2

In [58]:
next(gen)

3

In [59]:
for i in test_generator():
    print(i)

1
2
3

In [60]:
gen = ( x ** 2 for x in range(100))

In [61]:
type(gen)

generator

In [62]:
next(gen)

0

In [63]:
next(gen)

1

In [64]:
list(gen)

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [65]:
a = [ x ** 2 for x in range(100)]

In [66]:
a

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [67]:
def attemp_float(x):
    try:
        return float(x)
    except:
        return x

In [68]:
attemp_float(123)

123.0

In [69]:
attemp_float('something')

'something'

In [72]:
def attemp_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

In [73]:
attemp_float('something')

'something'

In [76]:
def attemp_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x
    finally:
        print('finally 실행')

In [77]:
attemp_float('some')

finally 실행

'some'